/* ------------- CSS General ------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: #494d51;
    background-color: rgb(120, 169, 212);
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
  }
  
  /* ------------- Encabezado Contacto ------------- */
  
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-header {
    text-align: center;
    background-color: #5d597c;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    margin: 10px auto;
    padding: 50px;
  }
  
  .form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  /* ------------- Formulario ------------- */
  
  .formulario {
    background-color: rgba(103, 165, 220, 0.196);
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    padding: 50px;
    margin: 30px 0 40px 0;
  }

  /* ------------- Campos del Formulario ------------- */

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type="text"] {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
  .form-row label {
    margin-bottom: 3px;
    text-align: initial;
  }

  /* ------------- Media Query para pantallas de m치s de 700px de resoluci칩n ------------- */
@media only screen and (min-width: 700px) {
    .form-header {
      padding: 50px;
    }
  
    .form-row {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 20px;
    }
    .form-row input[type="text"] {
      width: 250px;
      height: initial;
    }
    .form-row label {
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }

    .form-row input[type="email"] {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 250px;
    padding: 7px;
    font-size: 14px;
    }

.form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
  
  
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
  
  
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  
  
    width: 100%;
  }
  /* ------------- Para Pantallas de m치s de 700px ------------- */
  
  
  .form-row textarea {
      width: 250px;
    }
    .form-row button {
        font-size: 16px;
        font-weight: bold;
      
      
        color: #ffffff;
        background-color:rgb(88, 55, 218);
      
      
        border: none;
        border-radius: 3px;
      
      
        padding: 10px 40px;
        cursor: pointer;
      }
      
      
      .form-row button:hover {
        background-color: #144072;
      }
      
      
      .form-row button:active {
        background-color: #407fc7;
      }
      
      
      /* ------------- Para Pantallas de m치s de 700px ------------- */
      
      
      .form-row button {
          margin-left: 120px; 
      }
    
}